/.venv
/.vscode
/board.png
/models/matein1a
/models/matein1b
/models/matein1c
/models/matein1d
/models/matein2_0
/models/matein2_1
/models/matein2_2
/models/matein2_3
/training data/chess_puzzles.csv
/__pycache__
_4_trainer copy.py
mateIn2_white.csv
mateIn2.csv
training data/mate_in_2.pickle
training data/solution.pickle
test.py
*__init__*
*cpython*
