/.venv
/.vscode
/board.png
/models/matein1a
/models/matein1b
/models/matein1c
/models/matein1d
/models/matein2_0
/models/matein2_1
/models/matein2_2
/models/matein2_3
/training data/chess_puzzles.csv
*__pycache__*
_4_trainer copy.py
mateIn2_white.csv
mateIn2.csv
training data/mate_in_2.pickle
training data/solution.pickle
test.py
*__init__*
*cpython*
*pickle*
lichess_db_2014-04.pgn
training data/lichess_db_standard_rated_2016-08.pgn.zst
.memmaps
whole_game_1*
*.npy
.aws_lambda
.tensorboard_logs
*whole_game_2*
*whole_game_3*
_6_solver_ensembleOLD.py
training data/allPuzzles_b.csv
training data/allPuzzles_conv_w.csv
training data/allPuzzles_w.csv
training graphs/whole_game/n=1024,bn,1024_bs=1024_4000k_wg1.png
training graphs/whole_game/n=1024,bn,1024_bs=1024_4000k.png
training graphs/whole_game/n=1024,bn,1024_bs=1024_4000k_wg2.png
